@model OnTimeApi.OnTime
@{
    ViewBag.Title = "Index";
}

<div class="container">
	<h2>Example GET API calls</h2>
	<select id="api-get-url">
		<option value="@(Url.Action("Get"))?resource=v1/projects">api/v1/projects</option>
		<option value="@(Url.Action("Get"))?resource=v1/defects">api/v1/defects</option>
		<option value="@(Url.Action("Get"))?resource=v1/features">api/v1/features</option>
		<option value="@(Url.Action("Get"))?resource=v1/incidents">api/v1/incidents</option>
		<option value="@(Url.Action("Get"))?resource=v1/tasks">api/v1/tasks</option>
	</select>

	<a href="#" class="btn" id="api-get">GET</a>
	<div>
		<textarea id="api-get-results" disabled="disabled"></textarea>
	</div>

	<h2>Example Attachment Upload</h2>
	<form action="@Model.GetUrl("attachments")" enctype="multipart/form-data" method="post">
	<input type="file" name="file" class="input-file" />
	<input type="submit" value="Upload Attachment" class="btn"/>
	</form>
</div>

<script type="text/javascript">
$('#api-get').click(function(event) {
	event.preventDefault();

	var url = $('#api-get-url').val();
	$.ajax(url, {
		dataType: "text",
		success: function(result) {
			$('#api-get-results').val(result);
		}
	});
});
</script>