<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="../../Scripts/jquery-1.8.0.min.js"></script>
</head>

<body>
	<header>
		Axosoft API Explorer
		<div class="pull-right">
			@if (ViewBag.Title != "UpdateConfig")
			{
				<div class="btn">

					@if (User.Identity.IsAuthenticated)
					{
						@Html.ActionLink("Log Out " + (User.Identity).Name, "LogOut", "Home")
					}
					else
					{
						@Html.ActionLink("Log In", "ObtainVerificationCode", "OAuth")
					}
				</div>
			}
		</div>
	</header>
	@RenderBody()
</body>
</html>
